@{
    ViewData["Title"] = "Error";
}

<div class="container" style="margin-top: 3em; margin-bottom: 3em; font-size: 20px;">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h2 class="text-uppercase text-center">
				<span class="glyphicon glyphicon-alert"></span>
				Oh No!
			</h2>
		</div>
		<div class="panel-body">
			I don't know what happened. 
			Maybe our database went to sleep for a minute.
			Maybe one of our coders goofed.
			(Ironic, I know.)
			Hopefully it was just one of those one-time internet glitches.
			But if it happens again, please let us know.
		</div>
	</div>
</div>
