
<section class="content theme">
	<div class="container">

		<h2 class="text-capitalize text-center">Contact the Developer</h2>

		<p>
			Tampa Bay Coders&trade; is a collaborative project developed through 
			<a href="http://www.indasysllc.com" target="_blank">Indasys, LLC</a>.
		</p>

		<p>
			Contact Indasys through our website on our 
			<a href="http://www.indasysllc.com/home/contact" target="_blank">contact form</a>.
		</p>

		@*<address>
			One Microsoft Way<br />
			Redmond, WA 98052-6399<br />
			<abbr title="Phone">P:</abbr>
			425.555.0100
		</address>

		<address>
			<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
			<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
		</address>*@
	</div>

</section>

