<div class="container">

	<div class="alert alert-info">

		<h2 style="font-weight:bold;">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
			We Need Your Help
		</h2>

		<p>
			We're in the early stages of building this community, and we could use some help getting some momentum.
		</p>

		<p>
			Here are some things we could use help on:
		</p>

		<ul style="margin:1em;">
			<li><strong>Getting the Word Out</strong> - the more people that know about our project, the faster it will grow.</li>
			<li><strong>Coding</strong> - we just can't keep up with all the great ideas and feature requests.</li>
			<li><strong>Hosting</strong> - it's not that expensive to host a small web application, but it does add up.</li>
		</ul>

		<p>Use the links below to contact the developer if you're interested in helping out.</p>

	</div>

	<div class="content theme">

		<h2 class="text-capitalize text-center">Contact the Developer</h2>

		<p>
			Tampa Bay Coders&trade; is a collaborative project developed through 
			<a href="http://www.indasysllc.com" target="_blank">Indasys, LLC</a>.
		</p>

		<p>
			Contact Indasys through our website on our 
			<a href="http://www.indasysllc.com/home/contact" target="_blank">contact form</a>.
		</p>

	</div>


	@*<address>
		One Microsoft Way<br />
		Redmond, WA 98052-6399<br />
		<abbr title="Phone">P:</abbr>
		425.555.0100
	</address>

	<address>
		<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
		<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
	</address>*@
</div>

