
<section class="theme">
	<div class="container">
		<div class="alert alert-info">
			<h2>
				<span class="glyphicon gl glyphicon-info-sign"></span>
				My Profile
			</h2>
			<p>
				This is where you will see your own profile details.
			</p>
		</div>
	</div>
</section>
