@model CompensationCalculatorViewModel

@section Styles{ 
	<style>
		#title { margin-bottom: 0; }
		#beta { vertical-align: super; font-size: 14px; background-color: #db0000; }
		#tagline { margin-top: 0; }
	</style>
}
<div class="container">

	<div class="theme">
		<h2 id="title">
			Compensation Calculator
			<span id="beta" class="label label-default">Beta</span>
		</h2>
		<h3 id="tagline" class="text-center">How much is your compensation really worth?</h3>
		<p class="text-center">
			Ever wondered just how much your compensation is worth?
			Need to do some math to compare disimilar employment offers?
			Use this calculator to get some quick estimates of the total value of a compensation package.
		</p>
	</div>

	<div class="alert alert-warning">
		<h3>
			<span class="glyphicon glyphicon-warning-sign"> </span>
			Disclaimer
		</h3>
		<p>
			The calculations made by this tool are for information purposes only.
			While we hope this information will be helpful, we in no way guarantee its accuracy or applicability to any individual circumstance.
			By using this tool you agree not to hold Tampa Bay Coders, Indasys LLC,
			or any of our contributors liable for the results or any decisions made using this information.
		</p>
	</div>

	<div class="alert alert-info">
		<h3>
			<span class="glyphicon glyphicon-info-sign"></span>
			About the Calculator
		</h3>
		<p>
			This is an early version of the Compenstaion Calculator.
			This version makes a lot of assumptions about average benefits,
			such as paid time off, IRA contributions, tax profiles, etc.
		</p>
		<p>
			In the near future we will add features that will allow you to adjust some of these assumptions
			to more closely match your specific individual circumstances.
		</p>
	</div>

	<div id="accordion" class="panel-group">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#salary-panel" data-toggle="collapse" data-parent="#accordion">Salary Calculator</a>
				</h4>
			</div>
			<div id="salary-panel" class="panel-collapse collapse in">
				<div class="panel-body">
					<form class="form-inline" asp-action="CompensationResult" method="post">
						<input type="hidden" asp-for="Calculation" value="Salary" />
						<div class="form-group">
							<label asp-for="Salary" class="sr-only"></label>
							<input asp-for="Salary" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Annual Salary" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Salary"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#wage-panel" data-toggle="collapse" data-parent="#accordion">Hourly Wage Calculator</a>
				</h4>
			</div>
			<div id="wage-panel" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-inline" asp-action="CompensationResult" method="post">
						<input type="hidden" asp-for="Calculation" value="Wage" />
						<div class="form-group">
							<label asp-for="Wage" class="sr-only"></label>
							<input asp-for="Wage" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Hourly Wage" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Wage"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#rate-panel" data-toggle="collapse" data-parent="#accordion">Contract Rate Calculator</a>
				</h4>
			</div>
			<div id="rate-panel" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-inline" asp-action="CompensationResult" method="post">
						<input type="hidden" asp-for="Calculation" value="Rate" />
						<div class="form-group">
							<label asp-for="Rate" class="sr-only"></label>
							<input asp-for="Rate" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Contract Rate" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Rate"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<div id="results" class="content"></div>

</div>

@section Scripts{
	<script>
		$(function () {
			$('#accordion button').click(function (e) { $(this).append($('<i/>').addClass('fa fa-spinner fa-spin')); });
			$('form').submit(function (e) {
				e.preventDefault();
				var $form = $(this);
				$('#results').html($('<h3/>').addClass('text-primary').append($('<i/>').addClass('fa fa-spinner fa-spin').html()));
				$.post($form.attr('action'), $form.serialize())
					.done(function (resultHtml) {
						$('#results').html(resultHtml);
						$('html, body').animate({
							scrollTop: $('#results').offset().top
						});
					 })
					.fail(function (e) {
						debugger;
						console.error('Post Error', e);
						$('#results').html($('<h3/>').addClass('text-danger').text('Error Occured').html());
					}).always(function (e) {
						$('#accordion button>i').remove();
					});
			});
		});
	</script>
}